html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Customs styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    line-height: 1.6;
    font-size: 14px;
    font-family: sans-serif;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px 32px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

/* customs styles */
.bg {
    background-image: url(./assets/bg-intro-desktop.png);
    background-color:  rgba(235, 55, 55, 0.5);
}
.article1 {
    width: 450px;
    margin-top: 200px;
}
.article1 h1 {
    font-size: 32px;
    font-weight: 900;
    text-transform: capitalize;
}
.article2 {
    width: 450px;
    background-color: rgb(93,84,163);
    padding: 10px 0;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    text-transform: capitalize;
    margin-top: 100px;
}
form {
    width: 450px;
    background: white;
    border-radius: 8px;
    padding: 24px 32pt;    
}
.form_control {
    display: block;
    width: 100%;
    padding: 10px 10px;
    margin: 20px 0 20px 0;
    border: 1px solid rgb(202, 199, 199);
    border-radius: 5px; 
    outline: 0;
}

.form_control:focus {
    border-color: grey;
}

.button {
    display: block;
    width: 100%;
    padding: 10px 10px;
    margin: 20px 0 20px 0;
    background-color: rgb(94,204,138);
    border-radius: 5px; 
    text-transform: uppercase;
}
p {
    font-size: 10px;
    text-transform: capitalize;
}
a {
    font-size: 10px;
    color: red;
    text-transform: capitalize;
}